body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.legend i {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

